/*
38302E
A79593
FFFFFF
D0BAB7
9F6835

71.5px per list
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

.body {
    background-color: #D0BAB7;
}

input[id="title"], input[id="viewTitle"], input[id="editTitle"] {
    text-align: center;
    font-size: 25px;
}

input[id="collaborator"], input[id="editCollaborator"], input[id="viewCollaborator"] {
    text-align: center;
    font-size: 20px;
}

textarea {
    resize: none;
    font-size: 18px;
}

#taskForm {
    text-align: center;
}

.addModal, .viewModal, .editModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #A79593;
}

.add-content, .view-content, .edit-content {
    margin: 7% auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #38302E;
    width: 60%;
    background: transparent;
    height: 60;
    overflow: auto;
    overflow-y: auto;
    max-width: 90%;
    max-height: 90vh;
}

.addClose, .viewClose, .editClose {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.addClose:hover,
.addClose:focus, .viewClose:hover,
.viewClose:focus, .editClose:hover,
.editClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body {
    margin: 0 auto;
    padding: 0;
}

ul {
    background-color: rgb(226, 226, 226);
}

.task-list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 320px;
    font-family: courier, monospace;
    border: 1px solid #ffffff;
    max-height: 367.5px;
    height: 367.5px;
    overflow-y: auto;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-list li {
    list-style: none;
    border-bottom: 2px dotted #ccc;
    text-indent: 25;
    font-size: 15px;
    height: auto;
    padding: 10px;
}

.task-list li:hover {
    background-color: #D0BAB7;
}

.selected {
    background-color: #fff;
}

button {
    background-color: #9f6835;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    width: 120px;
}

button:hover {
    background-color: #38302E;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.taskSection h2 {
    margin: 10px 0px;
}

.btns {
    margin: 3% 0px;
}

.btnsImg {
    height: 4rem;
    width: 4rem;
}

#uid {
    margin-top: auto;
}


@media screen and (width < 900px) {
    .task-list li {
        font-size: 16px;
    }

    .addClose, .viewClose, .editClose {
        font-size: 24px;
    }

    form {
      width: 85%;
    }

    input[type="text"], textarea {
      width: 100%;
    }

    .add-content, .view-content, .edit-content {
        margin: 15% auto;
        padding: 0;
        border: 1px solid #38302E;
        width: 100%;
        background: transparent;
    }
    
    .addModal, .viewModal, .editModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #A79593;
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    
    .btns {
        margin: 3% 0px;
        display: flex;
        justify-content: space-around;
    }

    .taskSection h2 {
        margin: 10px 0px;
    }

    .btnsImg {
        height: 3rem;
        width: 3rem;
    }

    main {
        height: 100%;
    }
}